html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

@media all and (orientation: portrait) {
  canvas {
    height: auto;
    width: 100%;
  }
}