@font-face {
  font-family: Pokoljaro;
  /*src: url('/static/blzee.regular.ttf');
  src: url('/static/booter.five-five.ttf');*/
  src: url('/static/friedolin.regular.ttf');
  src: url('/static/pokoljaro.regular.otf');
  /*src: url('/static/ye-olde-oak.regular.ttf');
  src: url('/static/fat-finger.regular.ttf');*/
  font-weight: normal;
}
header {
  float: right;
  cursor: pointer;  
}

h1 {
  margin: 20px 0;
  font-family: Pokoljaro;
  text-align: center;
}

body {
  font-family: 'Homenaje', sans-serif;
  font-size: 25px;
}

.content {
  margin: 0 auto;
  max-width: 600px;  
}

.beephole {
  width: 100%;
  overflow-x: hidden;
}

button.choice {
  display: block;
  width: 100%;
  font-family: 'Homenaje', sans-serif;
  font-size: 25px;
  line-height: 48px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
button.choice img { height: 50px; float: left; }
button.choice { margin-top: 15px; }

.slides {
    margin: 0;
    width: 500%;
    
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition: margin-left 1s;
}
.slides.second { margin-left: -100%; }
.slides.third { margin-left: -200%; }
.slides.fourth { margin-left: -300%; }

.slide {
    float: left;
    width: 20%;
    margin-right: 0px;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

/*
input { font-size: 18pt; padding: 10px; }
button { font-size:20pt; padding: 10px; margin-top: 2px; }
*/