<html>
<head>
  <link href="/static/synrc.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homenaje" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{title}}</title>
</head>
<body>
  <div class="content">
    <header>
      login
    </header>
    
    <h1>Stoning Rosetta</h1>

    <div class="beephole clearfix">
      <div class="slides first clearfix">
        <div class="slide">
          <p>
            Welcome to play! <b>Learn languages for free</b> and have fun.
          </p>
          <div>
            Select a language you know
          </div>
          <button class="choice" type="button" data-baselang="en"><img src="/static/images/uk.png">I know English well</button>
          <button class="choice" type="button" data-baselang="it"><img src="/static/images/italy-t.gif">So bene italiano</button>
          <button class="choice" type="button" data-baselang="es"><img src="/static/images/es-t.gif">Sé muy bien español</button>
          <button class="choice" type="button" data-baselang="fi"><img src="/static/images/fi-t.gif">Osaan hyvin suomea</button>
        </div>
        <div class="slide ">
          <div>
            Pick up a language to learn
          </div>
          <button class="choice" type="button" data-learnlang="it"><img src="/static/images/italy-t.gif">I love to learn Italian</button>
          <button class="choice" type="button" data-learnlang="es"><img src="/static/images/es-t.gif">I love to learn Spanish</button>
          <button class="choice" type="button" data-learnlang="fi"><img src="/static/images/fi-t.gif">I love to learn Finish</button>
          <button class="back" type="button">Back</button>
        </div>
        <div class="slide ">
          <div>
            Please select a professor
          </div>
          <button class="choice" type="button" data-professor="barbara"><img src="/static/images/italy-t.gif"></button>
          <button class="choice" type="button" data-professor="rebekka"><img src="/static/images/es-t.gif">I love to learn Spanish</button>
          <button class="choice" type="button" data-professor="matti"><img src="/static/images/fi-t.gif">I love to learn Finish</button>
          <button class="back" type="button">Back</button>
        </div>
        <div class="slide ">
          <div>
            Please login. We use your account to store your progress in learning.
          </div>
          <button class="choice" type="button" data-professor="barbara"><img src="/static/images/italy-t.gif"></button>
          <button class="choice" type="button" data-professor="rebekka"><img src="/static/images/es-t.gif">I love to learn Spanish</button>
          <button class="choice" type="button" data-professor="matti"><img src="/static/images/fi-t.gif">I love to learn Finish</button>
          <button class="back" type="button">Back</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/index.js"></script>
</body>
</html>
